APP_ENV=development
APP_BASE_URL=http://localhost:8000

DB_HOST=mysql.example.com
DB_PORT=3306
DB_DATABASE=manual_muni
DB_USERNAME=manual_user
DB_PASSWORD=change-me
DB_SSL_CA=/absolute/path/to/provider-ca.pem

AWS_REGION=us-east-1
AWS_S3_BUCKET=manual-muni-images
AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_S3_ENDPOINT=
AWS_S3_PUBLIC_BASE_URL=https://manual-muni-images.s3.us-east-1.amazonaws.com
